<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>
        <h2>{{blah}}</h2>

        {{ content }}
    </body>
</html>